.grid {
  height: 400px;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  place-items: center;
  justify-content: center;
}

.skill {
  text-decoration: none;
}

.icon {
  font-size: 3rem;
  color: var(--color-main-dark);
}

@media screen and (width > 1024px) {
  .grid {
    height: 300px;
    display: flex;
    justify-content: space-evenly;
  }
  .skill {
    transition: transform 0.2s ease-in-out;
  }
  .skill:hover {
    transform: scale(1.3);
  }
}
